/*global*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
ul{
    margin: 10px 20px;
}

/*utilities*/
.container{
    width: 80%;
    margin: 0 auto;
}

/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
}
.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.menu a{
    margin-right: 20px;
}
header p{
    font-size: 20px;
}

/*main*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-about p{
    margin-left: 10px;
}
.flex-item{
    background-color: #f3f3f3;
    padding: 0px;
    text-align: left;
    width: 90%;
    border-style: solid;
    border-color: #eeeeee;
}
.flex-houses{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.price{
    color: rgb(2, 198, 2);
    font-weight: bold;
}
button{
    display: block;
    border: none;
    width: 95%;
    background-color: rgb(208, 139, 11);
    color: white;
    margin: 10px;
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
}

/*footer*/
.footer-main{
    background-image: url(./img/encuentra.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
}
.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 100px;
}

.flex-footer button{
    margin: 20px;
}