/*global*/
:root{
    --primary:rgb(208, 139, 11);
    --secondary: rgb(2, 198, 2);
}
html{
    font-size: 62.5%;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
img{
    max-width: 100%;
}
ul{
    margin: 10px 20px;
}
h2{
    text-align: center;
    margin: 1rem 0;
    font-size: 2.4rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
h4{
    font-size: 4rem;
}
h5{
    font-size: 1.2rem;
}
/*utilities*/
.container{
    width: 80%;
    margin: 0 auto;
}


/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
}
.site-second{
    background-color: black;
    color: white;
}
.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
}
.menu a{
    margin-right: 2rem;
}
header p{
    font-size: 2rem;
}
@media(max-width:768px){
    .site-init{
        height: 30vh; 
    }
    .site-init p{
        font-size: 1.5rem;
    }
}
@media(max-width:768px){
    .header-flex{
        flex-direction: column;
        justify-content: space-around;
    }
    .header-flex{
        height: 10vh;
        text-align: center;
    }
}
/*main*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-about p{
    margin-left: 1rem;
}
.flex-item{
    background-color: #f3f3f3;
    padding: 0px;
    text-align: left;
    width: 90%;
    border-style: solid;
    border-color: #eeeeee;
}
.flex-houses{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-top: 4rem;
}
.price{
    color: var(--secondary);
    font-weight: bold;
}
button{
    display: block;
    border: none;
    width: 95%;
    background-color: var(--primary);
    color: white;
    margin: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: center;
}
@media(max-width:768px){
    .flex-about{
        flex-direction: column;
        align-content: center;
    }
}
@media(max-width:768px){
    .flex-houses{
        flex-direction: column;
        align-content: center;
    }
}


/*footer*/
.footer-main{
    background-image: url(./img/encuentra.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
}
.flex-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10rem;
}
.flex-footer button{
    margin: 2rem;
}
@media(max-width:768px){
    .flex-footer{
        height: 20vh;
    }
}
/*contact form*/

fieldset{
    padding: 1rem;
}
legend, label, input{
    font-size: 1.6rem;
}
.input-container{
    margin: 1rem;
}
.input-container input,
.input-container select{
    width: 70%;
    background-color: #ededed;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container textarea{
    width: 70%;
    background-color: #ededed;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container label{
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}
.input-container-radio{
    display: flex;
    justify-content: row;
}
.input-container-btn{
    display: block;
    border: none;
    width: 5rem;
    background-color: var(--secondary);
    color: white;
    margin: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 1.5;
}
.about-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}
.about-flex h4{
    padding-top: 2rem;
}
.about-flex p{
    padding: 2rem;
}
.about-flex-text{
    padding: 2rem;
}
.about-flex-text h2{
    padding-top: 2rem;
}